<h1><%= @vendor.name %></h1>

<%= "Name: #{@vendor.name}" %>
</br>
<%= "Description: #{@vendor.description}" %>
</br>
<%= "Contact: #{@vendor.contact_name}" %>
</br>
<%= "Phone Number: #{@vendor.contact_phone}" %>
</br>
<%= "Accept Credit: #{@vendor.credit_accepted ? "YES" : "NO"}" %>

