<h1>Markets</h1>

<% @markets.each do |market| %>
  <%= market[:id] %>,
  <%= market[:attributes][:name] %>,
  <%= market[:attributes][:city] %>,
  <%= market[:attributes][:state] %>
  <%= button_to "More Info", market_path(market) %>
  </br>
<% end %>